.text-align-center {
  text-align: center;
}

.margin-top-large {
  margin-top: 20px;
}

.container {
  width: 500px;
}

.remove-bullets {
  list-style: none;
}

.checkbox {
  float: left;
  clear: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lemonchiffon;
}

span {
  display:inline-block;
  width:200px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
  color: darkred;
  font-size: medium
}

.text-linethrough {
  text-decoration: line-through;
}
